:root {
  --navbar_footer_background: white;
  --navbar_footer_font_color: black;
  --last_footer_bg: black;
  --last_footer_font_color: white;
}
[data-theme="dark"] {
  --navbar_footer_background: black;
  --navbar_footer_font_color: white;
  --last_footer_bg: white;
  --last_footer_font_color: black;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
